In [457]:
import pandas as pd
file_path = 'fashion.csv'
df = pd.read_csv(file_path)
df.head()

,ProductId,Gender,Category,SubCategory,ProductType,Colour,Usage,ProductTitle,Image,ImageURL
0,42419,Girls,Apparel,Topwear,Tops,White,Casual,Gini and Jony Girls Knit White Top,42419.jpg,http://assets.myntassets.com/v1/images/style/p...
1,34009,Girls,Apparel,Topwear,Tops,Black,Casual,Gini and Jony Girls Black Top,34009.jpg,http://assets.myntassets.com/v1/images/style/p...
2,40143,Girls,Apparel,Topwear,Tops,Blue,Casual,Gini and Jony Girls Pretty Blossom Blue Top,40143.jpg,http://assets.myntassets.com/v1/images/style/p...
3,23623,Girls,Apparel,Topwear,Tops,Pink,Casual,Doodle Kids Girls Pink I love Shopping Top,23623.jpg,http://assets.myntassets.com/v1/images/style/p...
4,47154,Girls,Apparel,Bottomwear,Capris,Black,Casual,Gini and Jony Girls Black Capris,47154.jpg,http://assets.myntassets.com/v1/images/style/p...

In [458]:
unique_categories = df['Gender'].unique()
print(unique_categories)
unique_categories = df['Category'].unique()
print(unique_categories)
unique_categories = df['SubCategory'].unique()
print(unique_categories)
unique_categories = df['ProductType'].unique()
print(unique_categories)

['Girls' 'Boys' 'Men' 'Women']
['Apparel' 'Footwear']
['Topwear' 'Bottomwear' 'Dress' 'Innerwear' 'Socks' 'Apparel Set' 'Shoes'
 'Flip Flops' 'Sandal']
['Tops' 'Capris' 'Dresses' 'Shorts' 'Tshirts' 'Skirts' 'Jeans' 'Leggings'
 'Innerwear Vests' 'Rompers' 'Lehenga Choli' 'Salwar' 'Booties'
 'Clothing Set' 'Trousers' 'Shirts' 'Jackets' 'Kurtas' 'Sweatshirts'
 'Kurta Sets' 'Churidar' 'Waistcoat' 'Blazers' 'Casual Shoes' 'Flip Flops'
 'Sandals' 'Formal Shoes' 'Sports Shoes' 'Sports Sandals' 'Flats' 'Heels']

In [459]:
df = df.drop('SubCategory', axis=1)
df = df.drop('Category', axis=1)

In [460]:
df = df.rename(columns={'Gender': 'subcategory_id'})
df = df.rename(columns={'ProductType': 'childcategory_id'})
df = df.rename(columns={'ProductId': 'id'})
df = df.rename(columns={'ProductTitle': 'name'})
df = df.rename(columns={'Colour': 'color'})
df = df.rename(columns={'Image': 'thumbnail'})

In [461]:
df = df.drop('Usage', axis=1)
df = df.drop('ImageURL', axis=1)

In [462]:
df

,id,subcategory_id,childcategory_id,color,name,thumbnail
0,42419,Girls,Tops,White,Gini and Jony Girls Knit White Top,42419.jpg
1,34009,Girls,Tops,Black,Gini and Jony Girls Black Top,34009.jpg
2,40143,Girls,Tops,Blue,Gini and Jony Girls Pretty Blossom Blue Top,40143.jpg
3,23623,Girls,Tops,Pink,Doodle Kids Girls Pink I love Shopping Top,23623.jpg
4,47154,Girls,Capris,Black,Gini and Jony Girls Black Capris,47154.jpg
...,...,...,...,...,...,...
2901,51755,Women,Casual Shoes,Black,Catwalk Women Black Shoes,51755.jpg
2902,47630,Women,Flats,Blue,Carlton London Women Blue Shoes,47630.jpg
2903,32836,Women,Flats,Pink,Grendha Women Flori Pink Sandals,32836.jpg
2904,35821,Women,Heels,Black,Enroute Women Black Heels,35821.jpg
2905,18553,Women,Heels,Blue,Catwalk Women Mary Janes Blue Flats,18553.jpg

In [463]:
# Assign a value to the new column
new_value = 14
df['category_id'] = new_value

In [464]:
print(df.columns.tolist())

['id', 'subcategory_id', 'childcategory_id', 'color', 'name', 'thumbnail', 'category_id']

In [465]:
unique_categories = df['subcategory_id'].unique()
print(unique_categories)

['Girls' 'Boys' 'Men' 'Women']

In [466]:
# Define a mapping dictionary for subcategory_id values
subcategory_mapping = {
    'Girls': 41,
    'Boys': 42,
    'Men': 22,
    'Women': 21,
    # Add more mappings as needed
}
# Map the subcategory_id values using the mapping dictionary
df['subcategory_id'] = df['subcategory_id'].map(subcategory_mapping)

In [467]:
unique_categories = df['childcategory_id'].unique()
print(unique_categories)

['Tops' 'Capris' 'Dresses' 'Shorts' 'Tshirts' 'Skirts' 'Jeans' 'Leggings'
 'Innerwear Vests' 'Rompers' 'Lehenga Choli' 'Salwar' 'Booties'
 'Clothing Set' 'Trousers' 'Shirts' 'Jackets' 'Kurtas' 'Sweatshirts'
 'Kurta Sets' 'Churidar' 'Waistcoat' 'Blazers' 'Casual Shoes' 'Flip Flops'
 'Sandals' 'Formal Shoes' 'Sports Shoes' 'Sports Sandals' 'Flats' 'Heels']

In [468]:
# Define a mapping dictionary for subcategory_id values
subcategory_mapping = {
    'Tops': 97,
    'Capris': 98,
    'Dresses': 99,
    'Shorts': 100,
    'Tshirts': 102,
    'Skirts': 103,
    'Jeans': 104,
    'Leggings': 105,
    'Innerwear Vests': 106,
    'Shirts': 125,
    'Jackets': 126,
    'Kurtas': 127,
    'Sweatshirts': 128,
    'Kurta Sets': 129,
    'Lehenga Choli': 108,
    'Salwar': 109,
    'Booties': 110,
    'Clothing Set': 111,
    'Rompers': 112,
    'Churidar': 113,
    'Waistcoat': 114,
    'Blazers': 115,
    'Casual Shoes': 116,
    'Flip Flops': 117,
    'Sandals': 118,
    'Formal Shoes': 119,
    'Sports Shoes': 120,
    'Sports Sandals': 121,
    'Flats': 122,
    'Heels': 123,
    'Trousers': 124,
    # Add more mappings as needed
}

# Map the subcategory_id values using the mapping dictionary
df['childcategory_id'] = df['childcategory_id'].map(subcategory_mapping)

In [469]:
unique_categories = df['childcategory_id'].unique()
print(unique_categories)

[ 97  98  99 100 102 103 104 105 106 112 108 109 110 111 124 125 126 127
 128 129 113 114 115 116 117 118 119 120 121 122 123]

In [470]:
import numpy as np
from slugify import slugify
df['brand_id'] = np.random.randint(9, 20, size=len(df))
df['pickup_point_id'] = np.random.randint(2, 22, size=len(df))
df['slug'] = df['name'].apply(slugify)
df['code'] = np.random.randint(1, 10001, size=len(df))
df['unit'] = np.random.randint(50, 101, size=len(df))
df['purchase_price'] = np.random.randint(1000, 4000, size=len(df))
df['stock_quantity'] = np.random.randint(10, 100, size=len(df))
df['featured'] = np.random.randint(0, 2, size=len(df))
df['today_deal'] = np.random.randint(0, 2, size=len(df))
df['product_slider'] = 0
df['product_views'] = np.random.randint(0, 2, size=len(df))
df['status'] = 1
df['trendy'] = np.random.randint(0, 2, size=len(df))
df['flash_deal_id'] = np.random.randint(0, 2, size=len(df))
df['cash_on_delivery'] = np.random.randint(0, 2, size=len(df))
df['admin_id'] = 1
df['date'] = 28-3-2024
df['month'] = 'March'
df['images'] = np.nan

In [471]:
print(df.columns.tolist())

['id', 'subcategory_id', 'childcategory_id', 'color', 'name', 'thumbnail', 'category_id', 'brand_id', 'pickup_point_id', 'slug', 'code', 'unit', 'purchase_price', 'stock_quantity', 'featured', 'today_deal', 'product_slider', 'product_views', 'status', 'trendy', 'flash_deal_id', 'cash_on_delivery', 'admin_id', 'date', 'month', 'images']

In [472]:
import datetime
# Get the current timestamp
current_time = datetime.datetime.now()

# Convert the current timestamp to a string format that can be inserted into the DataFrame
current_time_str = current_time.strftime('%Y-%m-%d %H:%M:%S')

# Assign the current timestamp to the 'created_at' column
df['created_at'] = current_time_str
df['updated_at'] = current_time_str

In [473]:
print(df.columns.tolist())

['id', 'subcategory_id', 'childcategory_id', 'color', 'name', 'thumbnail', 'category_id', 'brand_id', 'pickup_point_id', 'slug', 'code', 'unit', 'purchase_price', 'stock_quantity', 'featured', 'today_deal', 'product_slider', 'product_views', 'status', 'trendy', 'flash_deal_id', 'cash_on_delivery', 'admin_id', 'date', 'month', 'images', 'created_at', 'updated_at']

In [474]:
# Create a function to generate random tag based on name
def generate_random_tag(name):
    return np.random.choice([name.upper(), name.lower(), name.title()])

# Apply the function to each row in 'name' column to create 'tag' column
df['tags'] = df['name'].apply(generate_random_tag)

In [475]:
# Prepend "files/product/" to the existing values in the 'thumbnail' column
df['thumbnail'] = df['thumbnail'].apply(lambda x: "files/product/" + str(x))

In [476]:
print(df.columns.tolist())

['id', 'subcategory_id', 'childcategory_id', 'color', 'name', 'thumbnail', 'category_id', 'brand_id', 'pickup_point_id', 'slug', 'code', 'unit', 'purchase_price', 'stock_quantity', 'featured', 'today_deal', 'product_slider', 'product_views', 'status', 'trendy', 'flash_deal_id', 'cash_on_delivery', 'admin_id', 'date', 'month', 'images', 'created_at', 'updated_at', 'tags']

In [477]:
# Create a function to generate size based on subcategory_id
def generate_size(subcategory_id):
    baby_sizes = ['NB', '0-3M', '3-6M', '6-12M', '12-18M']
    adult_sizes = ['XS', 'S', 'M', 'L', 'XL', 'XXL']
    
    if subcategory_id in [41, 42]:
        return ', '.join(np.random.choice(baby_sizes, np.random.randint(4, 7)))
    elif subcategory_id in [21, 22]:
        return ', '.join(np.random.choice(adult_sizes, np.random.randint(4, 7)))
    else:
        return 'Other'

# Apply the function to each row in 'subcategory_id' column to create 'size' column
df['size'] = df['subcategory_id'].apply(generate_size)

In [478]:
# Dictionary mapping subcategory_ids to lists of YouTube video IDs
video_ids_mapping = {
    41: ["cZ56F-BznHc", "tDciKB-84KY","aq4JFSC5cLE", "9pErOxbgAAw","5Hlm-kwNK4E", "VWA7OfmZ0WM"],   # Baby videos
    42: ["A4_Ke3QrPkw", "GGrwdjbbor0","p0Eg833ETJs", "KRA9Tv02X-A","XalumHQlBkM", "DqDFKXAD8iI"],   # Baby videos
    21: ["VYZlIk9tn_c", "j8XI01ePMDE","8gZbHzdjnlI", "MklbIWGOmMs","KoO3iQZ15SU", "bg9iwoQyza8"],   # Adult videos
    22: ["7m16dFI1AF8", "BZDV_esrDgI","knQ4K0Gqm88", "2LCNqRj6tJU","9KhS3VhawPc", "aJXomZeIl_M"]    # Adult videos
}
# Create a function to generate YouTube embed code based on subcategory_id
def generate_youtube_embed(subcategory_id):
    video_ids = video_ids_mapping.get(subcategory_id, [])
    if video_ids:
        youtube_video_id = np.random.choice(video_ids)
        embed_code = youtube_video_id
    else:
        embed_code = "No video available"
    return embed_code

# Apply the function to each row in 'subcategory_id' column to create 'video' column
df['video'] = df['subcategory_id'].apply(generate_youtube_embed)

In [479]:
print(df.columns.tolist())

['id', 'subcategory_id', 'childcategory_id', 'color', 'name', 'thumbnail', 'category_id', 'brand_id', 'pickup_point_id', 'slug', 'code', 'unit', 'purchase_price', 'stock_quantity', 'featured', 'today_deal', 'product_slider', 'product_views', 'status', 'trendy', 'flash_deal_id', 'cash_on_delivery', 'admin_id', 'date', 'month', 'images', 'created_at', 'updated_at', 'tags', 'size', 'video']

In [480]:
additional_cost = 400  # Replace with your desired additional cost
df['selling_price'] = df['purchase_price'] + additional_cost

In [481]:
additional_cost = 300  # Replace with your desired additional cost
df['discount_price'] = df['selling_price'] - additional_cost

In [482]:
additional_cost = 300  # Replace with your desired additional cost

df['discount_price'] = df['selling_price'] - additional_cost

total_rows = df.shape[0]

# Randomly select some indices to make discount_price null
num_indices_to_make_null = int(total_rows * 0.5)  # 50% of total rows
random_indices_to_make_null = np.random.choice(total_rows, size=num_indices_to_make_null, replace=False)

# Set discount_price to NaN for the randomly selected indices
df.loc[random_indices_to_make_null, 'discount_price'] = np.nan

In [483]:
# Sample descriptions for dress products
sample_descriptions = [
    "RedX Panchagarh Hub",
    "RedX Jessore Noapara Hub",
    "RedX Narail Hub",
    "Paperfly Bagerhat Hub",
    "Paperfly Bandarban Hub",
    "Paperfly Barguna Hub",
    "Paperfly Naogaon Hub",
    "Paperfly Natore Hub",
    "Paperfly Rajshahi Hub",
    "Paperfly Baralekha Hub",
    "Paperfly Sylhet Hub",
    "Paperfly Bhairab Hub",
    "Paperfly Narsingdi Hub",
    "Paperfly Char Fasson Hub",
    "Paperfly Bhola Hub",
    "Paperfly Dinajpur Hub",
    "Paperfly Keraniganj Hub",
    "Paperfly Bogra Hub",
    "Paperfly Brahmanbaria Hub",
    "Paperfly Chandpur Hub",
]

# Create a new 'description' column with random dress descriptions
df['warehouse'] = np.random.choice(sample_descriptions, size=len(df))

In [484]:
# Sample descriptions for dress products
sample_descriptions = [
    "<p>This elegant dress features a flattering A-line silhouette, perfect for both casual and formal events. Made with high-quality fabric, it offers a comfortable fit and lasting durability. The intricate lace detailing adds a touch of sophistication, making it a must-have addition to your wardrobe.</p>",
    "<p>Upgrade your style with this chic midi dress. Designed with a modern twist, it showcases a unique pattern and vibrant colors that make you stand out in any crowd. The soft and breathable fabric ensures all-day comfort, while the adjustable waist belt allows for a customizable fit.</p>",
    "<p>Step out in style with this timeless maxi dress. Crafted with care, it features a classic design that never goes out of fashion. The flowing skirt and fitted bodice create a feminine silhouette, while the lightweight fabric keeps you cool and comfortable. Perfect for both daytime and evening wear.</p>",
    "<p>Achieve a sophisticated look with this stunning cocktail dress. The classic black color and elegant design make it a versatile piece for various occasions. The intricate beadwork and sequin detailing add a glamorous touch, ensuring you shine wherever you go. Pair it with heels and statement jewelry for a complete ensemble.</p>",
    "<p>Stay on-trend with this stylish wrap dress. The flattering wrap-around design accentuates your curves, while the V-neckline adds a feminine touch. Made from premium fabric, it offers a luxurious feel and drapes beautifully on the body. Whether you're attending a party or a casual outing, this dress is sure to make a statement.</p>",
    "<p>Embrace effortless elegance with this boho-inspired maxi dress. Featuring a relaxed fit and vibrant print, it captures the essence of free-spirited style. The soft and flowy fabric offers a comfortable and flattering drape, making it ideal for sunny days and warm evenings. Pair it with sandals and a floppy hat for a chic summer look.</p>"
]

# Create a new 'description' column with random dress descriptions
df['description'] = np.random.choice(sample_descriptions, size=len(df))

In [485]:
print(df.columns.tolist())

['id', 'subcategory_id', 'childcategory_id', 'color', 'name', 'thumbnail', 'category_id', 'brand_id', 'pickup_point_id', 'slug', 'code', 'unit', 'purchase_price', 'stock_quantity', 'featured', 'today_deal', 'product_slider', 'product_views', 'status', 'trendy', 'flash_deal_id', 'cash_on_delivery', 'admin_id', 'date', 'month', 'images', 'created_at', 'updated_at', 'tags', 'size', 'video', 'selling_price', 'discount_price', 'warehouse', 'description']

In [486]:
desired_order = ['id', 'category_id', 'subcategory_id', 'childcategory_id', 'brand_id', 'pickup_point_id', 'name'
                , 'slug', 'code', 'unit', 'tags', 'color', 'size', 'video', 'purchase_price', 'selling_price', 'discount_price'
                , 'stock_quantity', 'warehouse', 'description', 'thumbnail', 'images', 'featured'
                , 'today_deal', 'product_slider', 'product_views', 'status', 'trendy'
                , 'flash_deal_id', 'cash_on_delivery', 'admin_id', 'date', 'month','created_at', 'updated_at']
df = df[desired_order]

In [487]:
# Create a function to generate random tag based on name
def generate_random_tag(name):
    words = name.split()  # Split the name into words
    tags = [np.random.choice([word.upper(), word.lower(), word.title()]) for word in words]
    return ', '.join(tags)  # Join the tags with a comma

# Apply the function to each row in 'name' column to create 'tags' column
df.loc[:, 'tags'] = df['name'].apply(generate_random_tag)

In [488]:
df['tags']

0                Gini, and, jony, Girls, Knit, WHITE, TOP
1                      Gini, AND, JONY, GIRLS, black, top
2       gini, AND, JONY, Girls, PRETTY, Blossom, blue,...
3       Doodle, kids, Girls, PINK, i, Love, shopping, top
4                   gini, AND, Jony, girls, black, Capris
                              ...
2901                         catwalk, WOMEN, black, shoes
2902                  CARLTON, London, women, BLUE, SHOES
2903                 Grendha, Women, FLORI, Pink, SANDALS
2904                         enroute, WOMEN, BLACK, Heels
2905             catwalk, Women, Mary, JANES, blue, flats
Name: tags, Length: 2906, dtype: object

In [489]:
# Select only the columns you want to include in the CSV
selected_columns = ['id', 'category_id', 'subcategory_id', 'childcategory_id', 'brand_id', 'pickup_point_id', 'name'
                , 'slug', 'code', 'unit', 'tags', 'color', 'size', 'video', 'purchase_price', 'selling_price', 'discount_price'
                , 'stock_quantity', 'warehouse', 'description', 'thumbnail', 'images', 'featured'
                , 'today_deal', 'product_slider', 'product_views', 'status', 'trendy'
                , 'flash_deal_id', 'cash_on_delivery', 'admin_id', 'date', 'month', 'created_at', 'updated_at']
df_selected = df[selected_columns]

# Save the selected DataFrame to a CSV file
df_selected.to_csv('selected_products.csv', index=False)

# Display a message to indicate successful saving
print("CSV file has been saved successfully.")

CSV file has been saved successfully.

In [490]:
# Calculate the number of rows to sample (1% of total rows)
sample_size = int(0.01 * len(df))

# Select only the columns you want to include in the CSV
selected_columns = ['id', 'category_id', 'subcategory_id', 'childcategory_id', 'brand_id', 'pickup_point_id', 'name'
                , 'slug', 'code', 'unit', 'tags', 'color', 'size', 'video', 'purchase_price', 'selling_price', 'discount_price'
                , 'stock_quantity', 'warehouse', 'description', 'thumbnail', 'images', 'featured'
                , 'today_deal', 'product_slider', 'product_views', 'status', 'trendy'
                , 'flash_deal_id', 'cash_on_delivery', 'admin_id', 'date', 'month', 'created_at', 'updated_at']

# Sample 1% of the data and select the desired columns
df_selected = df[selected_columns].sample(n=sample_size, random_state=42).reset_index(drop=True)

# Save the selected DataFrame to a CSV file
df_selected.to_csv('selected_products_1percent.csv', index=False)

# Display a message to indicate successful saving
print("CSV file with 1% of the data has been saved successfully.")

CSV file with 1% of the data has been saved successfully.

In [491]:
df

,id,category_id,subcategory_id,childcategory_id,brand_id,pickup_point_id,name,slug,code,unit,...,product_views,status,trendy,flash_deal_id,cash_on_delivery,admin_id,date,month,created_at,updated_at
0,42419,14,41,97,18,13,Gini and Jony Girls Knit White Top,gini-and-jony-girls-knit-white-top,3027,93,...,1,1,1,0,0,1,-1999,March,2024-03-28 07:18:28,2024-03-28 07:18:28
1,34009,14,41,97,9,18,Gini and Jony Girls Black Top,gini-and-jony-girls-black-top,9675,75,...,0,1,1,1,0,1,-1999,March,2024-03-28 07:18:28,2024-03-28 07:18:28
2,40143,14,41,97,10,13,Gini and Jony Girls Pretty Blossom Blue Top,gini-and-jony-girls-pretty-blossom-blue-top,7653,88,...,1,1,0,1,0,1,-1999,March,2024-03-28 07:18:28,2024-03-28 07:18:28
3,23623,14,41,97,13,10,Doodle Kids Girls Pink I love Shopping Top,doodle-kids-girls-pink-i-love-shopping-top,2202,97,...,1,1,1,0,1,1,-1999,March,2024-03-28 07:18:28,2024-03-28 07:18:28
4,47154,14,41,98,10,16,Gini and Jony Girls Black Capris,gini-and-jony-girls-black-capris,5786,97,...,1,1,0,1,1,1,-1999,March,2024-03-28 07:18:28,2024-03-28 07:18:28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2901,51755,14,21,116,10,10,Catwalk Women Black Shoes,catwalk-women-black-shoes,1651,85,...,0,1,1,0,0,1,-1999,March,2024-03-28 07:18:28,2024-03-28 07:18:28
2902,47630,14,21,122,11,16,Carlton London Women Blue Shoes,carlton-london-women-blue-shoes,2272,58,...,0,1,0,1,0,1,-1999,March,2024-03-28 07:18:28,2024-03-28 07:18:28
2903,32836,14,21,122,18,13,Grendha Women Flori Pink Sandals,grendha-women-flori-pink-sandals,8816,88,...,0,1,1,0,0,1,-1999,March,2024-03-28 07:18:28,2024-03-28 07:18:28
2904,35821,14,21,123,16,18,Enroute Women Black Heels,enroute-women-black-heels,7492,67,...,1,1,0,1,0,1,-1999,March,2024-03-28 07:18:28,2024-03-28 07:18:28
2905,18553,14,21,123,15,9,Catwalk Women Mary Janes Blue Flats,catwalk-women-mary-janes-blue-flats,1196,57,...,1,1,0,0,0,1,-1999,March,2024-03-28 07:18:28,2024-03-28 07:18:28

In [492]:
print(df['brand_id'].tolist())

[18, 9, 10, 13, 10, 19, 18, 16, 9, 13, 14, 16, 15, 11, 15, 10, 11, 18, 11, 15, 11, 13, 12, 13, 18, 16, 9, 18, 17, 18, 17, 11, 12, 15, 16, 18, 18, 13, 12, 13, 10, 11, 11, 18, 10, 13, 14, 12, 17, 10, 11, 11, 16, 13, 11, 12, 14, 12, 13, 13, 17, 19, 11, 14, 12, 13, 10, 15, 17, 16, 12, 17, 18, 9, 10, 15, 9, 13, 17, 15, 19, 19, 13, 11, 13, 15, 17, 12, 11, 19, 15, 10, 18, 18, 16, 9, 12, 15, 11, 9, 17, 11, 11, 13, 14, 19, 16, 14, 13, 15, 9, 10, 18, 19, 11, 14, 19, 11, 16, 19, 18, 13, 19, 12, 10, 15, 14, 15, 16, 19, 11, 16, 13, 11, 17, 10, 11, 11, 9, 9, 9, 18, 12, 15, 19, 16, 12, 19, 12, 13, 10, 18, 9, 19, 9, 14, 16, 16, 15, 11, 16, 16, 15, 13, 16, 16, 11, 9, 16, 12, 17, 12, 18, 13, 11, 12, 10, 17, 14, 15, 17, 15, 18, 17, 17, 9, 10, 16, 11, 15, 18, 13, 10, 14, 16, 11, 19, 11, 9, 14, 10, 10, 15, 14, 12, 15, 19, 15, 16, 15, 12, 15, 14, 11, 17, 18, 16, 10, 15, 16, 11, 15, 18, 9, 10, 15, 12, 16, 9, 18, 11, 17, 9, 11, 19, 12, 9, 18, 10, 12, 15, 13, 19, 11, 14, 17, 19, 19, 15, 17, 9, 18, 12, 11, 15, 18, 14, 16, 18, 14, 13, 11, 10, 10, 14, 10, 17, 10, 19, 18, 16, 10, 9, 13, 11, 9, 11, 17, 10, 17, 10, 18, 19, 9, 10, 18, 9, 9, 16, 12, 10, 9, 17, 19, 11, 17, 11, 11, 14, 19, 10, 16, 11, 10, 9, 15, 13, 16, 11, 13, 10, 15, 10, 10, 18, 19, 19, 11, 13, 17, 17, 19, 14, 10, 16, 10, 18, 18, 10, 17, 16, 19, 17, 12, 10, 9, 10, 12, 12, 18, 12, 9, 14, 12, 14, 14, 9, 15, 13, 15, 12, 18, 17, 10, 15, 14, 17, 11, 18, 13, 9, 9, 19, 10, 9, 13, 17, 11, 10, 17, 16, 14, 12, 15, 12, 12, 11, 15, 9, 12, 16, 9, 14, 18, 15, 16, 9, 14, 10, 9, 9, 19, 16, 11, 12, 19, 11, 16, 13, 11, 18, 16, 18, 12, 16, 17, 13, 14, 19, 15, 11, 11, 13, 11, 14, 19, 14, 15, 12, 9, 18, 9, 10, 10, 9, 11, 11, 17, 16, 14, 13, 9, 18, 19, 9, 13, 18, 9, 19, 16, 19, 11, 9, 16, 19, 17, 12, 14, 19, 9, 14, 16, 15, 19, 9, 14, 17, 10, 11, 17, 19, 18, 10, 15, 12, 12, 18, 11, 16, 12, 17, 11, 18, 18, 9, 12, 15, 12, 9, 18, 17, 11, 13, 10, 15, 18, 11, 13, 9, 18, 16, 17, 17, 11, 9, 19, 12, 19, 18, 18, 10, 11, 12, 17, 12, 15, 15, 11, 19, 19, 9, 14, 13, 18, 14, 19, 11, 18, 14, 15, 16, 17, 13, 15, 18, 12, 9, 9, 14, 18, 16, 10, 14, 18, 11, 15, 12, 13, 19, 14, 18, 17, 10, 18, 14, 19, 10, 17, 10, 14, 13, 19, 14, 19, 13, 11, 13, 11, 11, 14, 13, 15, 17, 13, 11, 14, 17, 17, 18, 9, 16, 15, 9, 11, 14, 11, 10, 12, 9, 13, 18, 10, 18, 18, 16, 13, 17, 9, 16, 12, 11, 15, 11, 16, 13, 17, 14, 15, 13, 12, 9, 19, 19, 18, 9, 13, 17, 16, 16, 12, 10, 13, 17, 12, 18, 16, 10, 18, 10, 14, 13, 10, 9, 15, 15, 17, 17, 15, 18, 17, 16, 13, 14, 19, 15, 11, 13, 11, 17, 16, 11, 19, 9, 15, 12, 11, 18, 10, 17, 12, 10, 12, 19, 9, 17, 18, 18, 19, 11, 14, 9, 18, 12, 16, 12, 13, 13, 17, 11, 12, 19, 10, 10, 17, 14, 15, 17, 11, 9, 11, 10, 15, 17, 19, 18, 17, 16, 14, 17, 17, 11, 13, 15, 11, 9, 17, 10, 16, 12, 11, 11, 10, 14, 18, 18, 11, 16, 12, 10, 11, 9, 15, 10, 19, 11, 18, 17, 9, 16, 9, 12, 14, 12, 17, 17, 13, 9, 10, 15, 13, 10, 14, 17, 19, 17, 15, 13, 17, 18, 15, 19, 10, 17, 17, 15, 13, 19, 18, 12, 17, 10, 11, 12, 12, 9, 12, 17, 13, 19, 10, 12, 10, 9, 15, 16, 14, 16, 15, 19, 19, 10, 18, 13, 11, 9, 11, 13, 16, 19, 19, 13, 14, 11, 14, 10, 19, 17, 18, 11, 13, 17, 19, 12, 17, 19, 14, 19, 11, 13, 10, 9, 16, 12, 16, 17, 15, 12, 14, 10, 11, 10, 16, 9, 10, 19, 9, 9, 14, 10, 11, 19, 11, 16, 11, 9, 16, 19, 12, 10, 16, 19, 11, 11, 17, 16, 9, 18, 18, 15, 17, 15, 19, 15, 9, 13, 15, 9, 17, 18, 17, 16, 11, 19, 9, 14, 11, 13, 12, 19, 19, 12, 16, 15, 18, 15, 9, 19, 14, 16, 10, 11, 12, 12, 11, 9, 9, 17, 9, 16, 13, 13, 11, 17, 18, 17, 11, 9, 15, 9, 19, 18, 10, 15, 9, 14, 15, 15, 11, 13, 13, 18, 15, 14, 12, 18, 16, 10, 15, 15, 9, 13, 13, 13, 15, 10, 17, 16, 16, 12, 9, 17, 12, 17, 9, 11, 18, 17, 19, 18, 14, 9, 10, 12, 16, 18, 12, 16, 13, 9, 14, 17, 12, 14, 11, 16, 15, 18, 17, 19, 15, 9, 15, 12, 13, 15, 15, 10, 10, 13, 12, 10, 14, 11, 17, 19, 16, 16, 16, 19, 14, 15, 15, 14, 16, 16, 17, 9, 16, 10, 10, 12, 14, 9, 19, 10, 10, 14, 13, 11, 18, 14, 18, 15, 16, 10, 9, 13, 18, 14, 14, 11, 10, 19, 19, 15, 9, 12, 13, 14, 10, 13, 18, 11, 17, 15, 14, 10, 14, 19, 18, 9, 11, 16, 17, 18, 9, 13, 13, 18, 10, 14, 16, 17, 17, 10, 11, 18, 10, 16, 9, 15, 11, 19, 11, 14, 19, 10, 9, 19, 11, 10, 19, 11, 11, 14, 18, 13, 17, 13, 19, 17, 18, 9, 17, 18, 18, 19, 18, 10, 10, 18, 11, 9, 18, 9, 12, 14, 17, 18, 18, 18, 13, 10, 12, 10, 12, 18, 12, 9, 13, 10, 9, 15, 11, 13, 16, 16, 12, 18, 18, 19, 15, 15, 9, 12, 10, 9, 13, 14, 15, 19, 14, 16, 11, 17, 18, 11, 15, 19, 18, 9, 16, 17, 19, 13, 12, 18, 9, 9, 15, 18, 9, 18, 18, 17, 10, 9, 13, 12, 13, 13, 15, 12, 16, 16, 18, 13, 9, 18, 16, 15, 11, 13, 10, 17, 11, 10, 18, 17, 15, 11, 18, 15, 18, 16, 15, 9, 15, 17, 14, 18, 16, 11, 17, 9, 15, 16, 11, 18, 10, 16, 11, 10, 16, 10, 16, 16, 12, 14, 17, 9, 18, 10, 19, 15, 13, 16, 12, 13, 11, 11, 18, 14, 19, 19, 18, 9, 11, 14, 10, 18, 17, 9, 17, 11, 19, 19, 17, 12, 12, 9, 19, 11, 18, 9, 10, 15, 11, 16, 13, 15, 18, 13, 10, 19, 19, 12, 13, 16, 14, 14, 11, 12, 19, 14, 12, 15, 18, 17, 15, 19, 10, 9, 10, 10, 14, 17, 19, 13, 15, 14, 11, 14, 14, 16, 19, 12, 9, 14, 11, 17, 17, 14, 11, 19, 9, 11, 16, 9, 17, 19, 10, 18, 19, 13, 18, 18, 13, 14, 11, 11, 13, 17, 13, 19, 13, 16, 11, 9, 10, 11, 17, 16, 13, 15, 17, 13, 16, 15, 15, 18, 10, 15, 16, 10, 19, 16, 10, 17, 13, 9, 14, 10, 17, 13, 17, 17, 16, 14, 12, 13, 17, 17, 18, 14, 10, 15, 12, 9, 11, 14, 15, 15, 17, 10, 17, 17, 19, 17, 15, 12, 13, 11, 14, 19, 14, 10, 11, 17, 12, 10, 9, 18, 11, 12, 15, 17, 19, 11, 19, 13, 16, 16, 19, 19, 14, 12, 15, 19, 11, 10, 12, 10, 11, 12, 19, 19, 18, 12, 10, 19, 15, 17, 17, 18, 14, 10, 18, 17, 14, 13, 15, 12, 16, 19, 9, 17, 19, 13, 18, 12, 10, 11, 9, 10, 18, 18, 14, 19, 19, 14, 13, 10, 10, 15, 18, 11, 18, 17, 16, 11, 13, 15, 15, 16, 14, 17, 10, 14, 17, 16, 12, 12, 13, 14, 19, 14, 14, 15, 11, 13, 15, 16, 11, 11, 9, 13, 9, 18, 16, 10, 12, 14, 11, 13, 9, 10, 13, 10, 12, 12, 15, 9, 10, 12, 10, 19, 14, 19, 14, 12, 17, 19, 9, 11, 16, 17, 10, 17, 14, 15, 18, 11, 12, 15, 12, 18, 11, 16, 18, 13, 9, 9, 18, 15, 12, 10, 15, 10, 14, 18, 12, 10, 10, 12, 12, 13, 18, 18, 14, 14, 16, 12, 16, 15, 16, 18, 15, 12, 10, 11, 9, 17, 15, 13, 15, 19, 12, 17, 12, 12, 12, 18, 15, 16, 16, 15, 16, 10, 18, 10, 17, 19, 14, 14, 18, 14, 19, 14, 13, 18, 18, 11, 14, 17, 11, 19, 13, 15, 17, 11, 12, 10, 10, 13, 13, 9, 19, 11, 19, 12, 17, 10, 14, 15, 16, 11, 18, 9, 11, 9, 17, 13, 16, 15, 11, 18, 17, 14, 9, 18, 18, 10, 19, 19, 15, 12, 18, 11, 13, 13, 12, 13, 15, 17, 18, 15, 10, 15, 11, 15, 13, 15, 15, 12, 15, 10, 15, 10, 9, 14, 16, 13, 16, 17, 11, 16, 15, 12, 13, 12, 14, 17, 12, 14, 15, 16, 9, 13, 12, 19, 11, 11, 18, 15, 9, 13, 11, 14, 16, 11, 16, 16, 19, 15, 14, 13, 9, 17, 19, 15, 15, 16, 16, 9, 17, 18, 19, 17, 19, 17, 13, 10, 9, 14, 10, 14, 9, 19, 16, 9, 15, 13, 19, 17, 14, 11, 14, 10, 16, 19, 15, 10, 12, 18, 9, 16, 13, 12, 12, 16, 15, 10, 19, 9, 19, 16, 19, 10, 17, 15, 15, 13, 14, 16, 17, 17, 10, 18, 14, 12, 10, 12, 13, 16, 11, 12, 11, 13, 10, 15, 16, 18, 12, 19, 14, 9, 15, 9, 15, 10, 18, 17, 10, 13, 18, 17, 19, 12, 18, 11, 9, 18, 11, 13, 17, 14, 18, 14, 15, 14, 19, 16, 16, 12, 9, 10, 17, 14, 12, 15, 15, 11, 17, 9, 13, 16, 15, 18, 15, 18, 13, 11, 9, 17, 11, 9, 19, 15, 11, 13, 10, 14, 14, 11, 10, 10, 14, 16, 9, 18, 9, 11, 10, 19, 15, 16, 19, 12, 18, 15, 19, 9, 11, 10, 19, 14, 16, 18, 15, 10, 13, 15, 13, 18, 9, 12, 14, 19, 13, 16, 11, 11, 9, 10, 11, 9, 12, 17, 12, 9, 10, 16, 16, 12, 19, 15, 16, 18, 16, 11, 14, 12, 14, 19, 19, 12, 13, 16, 15, 13, 17, 16, 18, 10, 17, 19, 16, 16, 19, 15, 10, 10, 14, 14, 14, 13, 11, 14, 11, 19, 14, 17, 17, 11, 12, 10, 18, 16, 17, 16, 17, 18, 10, 14, 16, 13, 12, 18, 17, 12, 17, 16, 13, 11, 17, 13, 10, 18, 17, 16, 12, 13, 11, 14, 13, 18, 15, 19, 18, 10, 14, 17, 19, 10, 11, 17, 12, 17, 11, 18, 10, 17, 15, 11, 11, 11, 18, 19, 11, 19, 16, 17, 16, 13, 11, 15, 18, 18, 11, 10, 17, 15, 13, 19, 14, 12, 15, 18, 17, 12, 19, 9, 17, 18, 17, 17, 16, 10, 9, 15, 14, 15, 16, 11, 16, 15, 18, 16, 12, 10, 9, 16, 9, 9, 11, 11, 19, 19, 11, 11, 13, 14, 17, 11, 11, 18, 12, 10, 16, 12, 17, 10, 14, 15, 15, 19, 18, 18, 10, 15, 12, 17, 10, 19, 17, 18, 15, 11, 14, 13, 18, 18, 18, 15, 17, 9, 9, 11, 9, 13, 13, 17, 13, 18, 9, 13, 12, 17, 15, 13, 17, 12, 14, 17, 16, 18, 10, 11, 13, 16, 12, 9, 16, 12, 9, 14, 14, 13, 15, 11, 18, 17, 19, 14, 10, 17, 18, 14, 11, 16, 12, 11, 17, 10, 14, 9, 18, 17, 11, 19, 18, 11, 14, 16, 17, 10, 14, 12, 18, 17, 17, 14, 18, 18, 18, 16, 19, 17, 10, 11, 11, 17, 13, 9, 17, 9, 13, 12, 12, 17, 15, 11, 12, 15, 15, 15, 16, 15, 9, 13, 11, 15, 9, 17, 18, 17, 15, 11, 15, 11, 12, 17, 19, 18, 18, 16, 10, 16, 13, 10, 18, 11, 14, 14, 11, 12, 19, 13, 17, 13, 14, 11, 18, 13, 18, 16, 12, 9, 11, 18, 16, 12, 17, 12, 15, 13, 14, 14, 12, 11, 17, 10, 11, 16, 17, 19, 15, 17, 15, 14, 19, 17, 19, 15, 14, 18, 19, 16, 11, 14, 10, 10, 15, 10, 12, 17, 13, 15, 9, 10, 12, 11, 15, 11, 10, 17, 11, 16, 10, 16, 18, 19, 9, 16, 17, 18, 14, 9, 17, 16, 16, 16, 11, 10, 16, 16, 10, 14, 9, 10, 19, 15, 18, 13, 12, 9, 11, 10, 10, 16, 12, 15, 18, 18, 11, 9, 13, 18, 12, 11, 12, 17, 14, 11, 17, 11, 13, 10, 13, 19, 15, 16, 13, 15, 12, 18, 12, 13, 17, 18, 9, 13, 17, 18, 12, 16, 18, 10, 15, 10, 19, 17, 12, 16, 15, 11, 12, 10, 15, 18, 15, 12, 18, 16, 12, 11, 10, 18, 15, 9, 19, 12, 13, 10, 19, 19, 15, 16, 12, 14, 9, 11, 11, 11, 15, 12, 19, 11, 10, 12, 17, 18, 14, 17, 9, 18, 10, 18, 16, 19, 15, 19, 12, 17, 13, 15, 13, 12, 18, 9, 19, 15, 16, 17, 12, 15, 13, 15, 16, 15, 13, 14, 14, 16, 11, 15, 15, 11, 12, 13, 10, 14, 18, 18, 13, 13, 10, 10, 11, 18, 12, 10, 18, 9, 13, 14, 18, 10, 14, 17, 9, 19, 9, 15, 11, 14, 9, 15, 15, 17, 10, 9, 14, 11, 18, 18, 10, 18, 11, 15, 14, 9, 16, 9, 15, 12, 19, 15, 10, 10, 18, 11, 12, 14, 16, 11, 15, 19, 9, 9, 18, 9, 13, 12, 10, 14, 14, 12, 11, 14, 15, 13, 13, 15, 13, 14, 19, 12, 16, 16, 17, 19, 13, 16, 16, 17, 14, 14, 9, 18, 16, 13, 14, 12, 18, 19, 19, 15, 11, 10, 16, 16, 11, 12, 9, 9, 17, 18, 12, 11, 14, 18, 16, 17, 11, 19, 17, 13, 16, 12, 16, 13, 13, 10, 11, 9, 11, 18, 10, 18, 16, 10, 9, 11, 19, 19, 19, 9, 15, 15, 19, 18, 18, 18, 15, 14, 11, 15, 18, 11, 15, 11, 15, 11, 9, 14, 16, 17, 12, 17, 11, 16, 9, 17, 18, 15, 16, 11, 11, 15, 15, 12, 19, 16, 16, 16, 18, 13, 14, 9, 14, 15, 16, 17, 17, 19, 13, 13, 10, 19, 11, 11, 12, 9, 13, 15, 14, 17, 12, 19, 10, 9, 9, 16, 10, 9, 15, 17, 16, 9, 17, 15, 14, 9, 16, 13, 11, 13, 9, 18, 11, 13, 15, 16, 11, 16, 13, 12, 12, 16, 10, 13, 10, 12, 11, 15, 9, 10, 10, 18, 11, 9, 17, 17, 19, 18, 9, 9, 11, 11, 18, 13, 10, 10, 19, 15, 15, 18, 16, 10, 13, 11, 9, 9, 11, 12, 12, 13, 10, 14, 10, 16, 12, 13, 13, 14, 10, 17, 19, 19, 11, 10, 9, 10, 16, 19, 15, 11, 10, 19, 13, 19, 15, 13, 10, 13, 13, 14, 17, 17, 19, 17, 11, 17, 17, 19, 15, 11, 15, 18, 16, 9, 10, 16, 19, 16, 12, 9, 18, 15, 17, 18, 15, 13, 16, 9, 10, 14, 12, 16, 18, 13, 11, 10, 16, 13, 11, 19, 13, 13, 12, 19, 19, 17, 19, 14, 19, 17, 16, 11, 15, 16, 14, 14, 14, 15, 13, 17, 15, 16, 14, 11, 16, 9, 13, 14, 19, 16, 15, 11, 11, 12, 15, 17, 9, 10, 16, 17, 18, 11, 10, 16, 11, 13, 16, 13, 14, 11, 16, 15, 16, 14, 13, 9, 19, 9, 15, 9, 14, 15, 15, 13, 17, 14, 16, 10, 16, 10, 19, 15, 11, 10, 15, 19, 12, 12, 17, 19, 11, 13, 13, 18, 13, 12, 14, 13, 17, 11, 9, 14, 15, 13, 12, 17, 13, 13, 9, 18, 10, 10, 11, 13, 15, 16, 19, 18, 10, 13, 19, 14, 19, 14, 13, 14, 17, 15, 11, 9, 9, 13, 14, 11, 18, 12, 18, 19, 19, 10, 16, 18, 13, 10, 11, 18, 12, 10, 13, 19, 13, 16, 11, 15, 18, 16, 16, 19, 16, 15, 11, 14, 11, 18, 13, 10, 9, 13, 15, 12, 13, 19, 12, 17, 9, 15, 16, 15, 16, 19, 12, 11, 10, 13, 9, 13, 17, 16, 11, 14, 12, 13, 19, 12, 15, 19, 15, 16, 14, 9, 9, 13, 10, 11, 18, 16, 15]